<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>User identification</title>


    	<script type="text/javascript" src="resource/jquery/jquery-1.9.1.min.js"></script>
    	<script type="text/javascript" src="resource/angular/angular.min.js"></script>
		<script src="resource/angular/angular.min.js.map"></script>

        <script type="text/javascript" src="app.js"></script>
        
        <script type="text/javascript">

           

        </script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

    <body>
         
        <div id="page" ng-app="userProfile">
            <h1>Please enter your name: </h1>
            
            <div name="userProfile" id="input" ng-controller="userController">

                <input name="user_name" type="text" id="textBox" ng-model="user_name" ng-keypress="runScript($event)" required/>

                <button ng-click="send()">Send</button>
            </div>


        </div>
    </body>


</html>